.prize-support-button-area {
    padding-bottom: 20px;
}

.prize-support-button {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #5ac1c2, #478acd);
    color: #ffffff;
    height: 30px;
    font-size: 12px;
}

#splashSupportModal .modal-body{
    display: flex;
    align-items: center;
    line-height: 32px;
    font-size: 18px;
    font-weight: 600;
}

.modal-sport-description {
    text-align: center;
}